body {
  background-image: url("wallpaper.png");
  background-position: center center;
  overflow: hidden;
  background-size: cover;
  transition: all 0.5s ease;
  background-color: black;
  background-repeat: no-repeat;
  height: 100vh;
  animation: fadein;
  animation-duration: 250ms;
}

html {
  background-color: black;
}

@font-face {
  font-family: 'ra-inet';
  src: url('C&C Red Alert [INET].ttf');
  font-weight: lighter;
}

footer {
  bottom: 0;
  background-color: #3d3d3d;
  border: #4d4d4d outset 3px;
  height: 40px;
  position: fixed !important;
  z-index: 999999;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.openSauron {
  right: 6px;
  top: 45px;
  position: absolute;
  background: #4d4d4d;
  border: #5d5d5d outset 3px;
  padding: 5px;
  color: white;
}

#sauronLeft {
  padding: 5px;
}

#sidebar {
  width: 15vw;
  height: 100vh;
  position: absolute;
  background: #1d1d1dab;
  right: 0;
}

.openSauron:active {
  border: #4d4d4d inset 3px;
}

#sauronLeft button,
#sidebar button {
  background: #4d4d4d;
  border: #5d5d5d outset 3px;
  padding: 5px;
  color: white;
  width: 100%;
  margin-top: 5px;
}

#sauronLeft button:active,
#sidebar button:active {
  border: #4d4d4d inset 3px;
}

.window {
  display: none;
  animation: fadein;
  animation-duration: 250ms;
  position: absolute !important;
  min-width: fit-content;
  min-height: fit-content;
  width: fit-content;
  height: fit-content;
}

.header {
  width: 100%;
  background-color: #3d3d3d;
  cursor: move;
  overflow: hidden;
  height: fit-content;
  border: #4d4d4d outset 3px;
  color: white;
  box-sizing: content-box;
  height: 36px;
}

.content {
  background: white;
  border: #4d4d4d outset 3px;
  border-top: none;
  width: 100%;
  height: calc(100% - 36px);
  box-sizing: content-box;
}

.content iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.headertext {
  color: white;
  background: none;
  border: black solid 0px;
  margin-right: 0px;
  height: 30px;
  transition: all 250ms ease;
  padding: 8px;
  pointer-events: none;
  font-family: 'ra-inet';
  line-height: 1.1;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  outline: none;
  font-family: ra-inet;
  box-sizing: border-box;
}

nav {
  display: inline-block;
}

.menubutton2 {
  background: none;
  border: black solid 0px;
  font-family: ra-inet;
  color: white;
  float: left;
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
}

.menubuttonminimizing {
  background-color: #9d9d9d20;
  border: #5d5d5d inset 3px !important;
}

.menubuttonminimized:hover {
  background-color: #8d8d8d80;
  transition: all 250ms ease;
}

.menubuttonminimized:active {
  background-color: #6d6d6d66;
  transition: all 250ms ease;
}

/* Audio stuff */
.btn.music {
  border: black solid 0px;
  background-color: black;
  cursor: pointer;
  font-family: ra-inet;
  color: white;
  text-align: center;
  font-size: 20px;
  min-height: 30px;
  min-width: 30px;
  padding: 0;
  margin: 10px;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: #ff3366;
  border-radius: 3px;
  transition: width 0.25s linear;
}

#yes {
  color: black !important;
  background-color: green !important;
}

#no {
  color: black !important;
  background-color: red !important;
}

#undecided {
  color: black !important;
  background-color: yellow !important;
}


.progress-container {
  flex: 1;
  height: 6px;
  background: #444;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}

/* End of audio stuff */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideright {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

#menutogglebuttonimg {
  height: 100%;
}

#launcher {
  position: absolute;
  z-index: 999999;
  bottom: 40px;
  width: 20vw;
  height: calc(40vh);
  background-color: #3d3d3d;
  border: #4d4d4d outset 3px;
  display: none;
  padding: 5px;
  color: white;
}

#searchBar {
  width: 100%;
  color: black;
  padding: 5px;
}

.desktopTasks {
  overflow: auto;
}

#emailsLeft div {
  padding: 5px;
  cursor: pointer;
}

#emailsLeft div:hover {
  opacity: 0.75;
}

#emailsLeft div:active {
  opacity: 0.5;
}

#emailsLeft div:nth-child(2n) {
  background: darkgray;
}

#launcherToggle,
.menubuttonminimized,
.header button {
  height: calc(100% - 6px);
  background: #4d4d4d;
  border: #5d5d5d outset 3px;
  color: white;
  margin: 3px;
  margin-right: 0;
  padding: 5px;
  font-size: 17px;
  cursor: pointer;
}

.header button:active {
  border: #4d4d4d inset 3px;
}

.menubuttonminimized {
  display: none;
}

.effect {
  background: linear-gradient(to top, #00000040, #00000040, #33333340, #33333340);
  background-size: cover;
  background-size: 100% 1px;
  width: 100vw;
  height: 100dvh;
  position: absolute;
  pointer-events: none;
  z-index: 999999999;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.header button {
  height: 25px;
  float: right;
  aspect-ratio: 1/1;
  font-size: 12px;
  margin-right: 3px;
  margin-left: 0;
}

#launcherToggle img {
  margin-right: 5px;
  height: 100%;
  float: left;
  display: inline-block;
}

#launcherToggle:hover,
#desktops button:hover {
  background-color: #9d9d9d20;
  transition: all 250ms ease;
}

#activeDesktop {
  background-color: #9d9d9d20 !important;
  transition: all 250ms ease;
}

#launcherToggle:active,
#desktops button:active {
  background-color: #6d6d6d66;
  transition: all 250ms ease;
}

#section {
  height: calc(100vh - 40px);
  width: 100vw;
  position: absolute;
}

#versionString {
  position: absolute;
  z-index: 999999;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.75);
  text-align: right;
  pointer-events: none;
  padding-bottom: 45px;
  padding-right: 10px;
  text-shadow: black 0px 0px 10px;
}

#weather,
#time {
  color: white;
  font-size: 17px;
  display: inline-block;
  margin: 5px;
  margin-bottom: 4px;
}

.tray {
  right: 1px;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  border: #4d4d4d inset 3px;
}

.menubuttonminimized img {
  height: 100%;
  aspect-ratio: 1/1;
  margin-right: 5px;
}

.titlebar {
  display: inline-flex;
  height: 100%;
  align-items: center;
}

.titlebar img {
  margin: 5px;
  height: 21px;
  aspect-ratio: 1/1;
}

.desktopIcon {
  position: relative;
  width: 100px;
  height: fit-content;
  background: none;
  border: none;
  padding: 20px;
  color: white;
  text-shadow: black 1px 1px 0px;
  font-size: 16px;
  cursor: pointer;
}

.desktopIcon img {
  width: 100%;
}

.desktopIcon:focus span {
  background-color: blue;
}

.left {
  display: inline-block;
  width: 175px;
  height: 100%;
  min-height: 350px;
  float: left;
  background-color: lightgray;
}

.right {
  display: inline-block;
  width: calc(100% - 175px);
  height: 100%;
  min-height: 350px;
  float: right;
  padding: 5px;
}

#emailReader {
  padding: 5px;
}

.notification {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  margin: 10px;
  padding: 5px;
  background-color: #3d3d3d;
  border: #4d4d4d outset 3px;
}

#outro {
  position: absolute;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  color: white;
  animation: fadein;
  animation-duration: 1000ms;
  display: none;
}

progress {
  border-radius: 0;
}

.topic {
  padding: 5px;
  color: white;
}